.contents {
  width: 92%;
  margin: 0 auto;
  margin-top: 10vh;
  margin-bottom: 3rem;
}

.titleBox__title {
  font-family: "Termina";
  font-weight: 900;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.3px #000;
}

.titleTop {
  font-size: calc(100vw / 6.5);
  margin-bottom: -25%;
  line-height: 0.8;
}

.titleTopSugioka {
  font-size: calc(100vw / 6.8);
  margin-bottom: -25%;
  line-height: 0.8;
}


.titleBottom {
  font-size: calc(100vw / 7);
  margin-top: -15%;
  line-height: 1;
}

.titleBox__subtitle {
  font-size: calc(100vw / 30);
  font-weight: bold;
  text-align: center;
  margin-top: -5%;
}

.linkToOtherBlog {
  width: 45%;
  position: fixed;
  bottom: 5%;
  right: 3%;
  height: 3rem;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 10px;
  filter: drop-shadow(0 2px 0 #000);
  text-align: center;
}

.linkToOtherBlog a {
  display: block;
  height: 3rem;
  line-height: 3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linkToOtherBlog p {
  display: inline-block;
  line-height: 1.25rem;
  margin: 0;
  font-size: .75rem;
}

.linkToOtherBlog img {
  width: auto;
  height: 2.2rem;
  vertical-align: middle;
}