.flexContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #FFF;
  height: 9vh;
  z-index: 99;
}