.btn {
  all: unset;
  outline: revert;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  position: relative;
  z-index: 200;

  display: grid;
  place-items: center;
  width: 42px;
  height: 42px;
}

.btn::before, .btn::after, .btn .bar{
  grid-area: 1 / 1;
  content: '';
  display: block;
  width: 32px;
  height: 1px;
  background-color: currentColor;
}

.open .list {
  transform: translateX(-100%);
}

.list {
  z-index: 100;
  position: fixed;
  inset: 0 -100% 0 100%;
  transition: transform 0.4s;
  list-style-type: none;
  background: #FFF;
}
.list li {
  font-family: "Termina", sans-serif;
  font-weight: 900;
  font-size: 40px;
  -webkit-text-stroke: 1px #000;
  color: #FFF;
  text-shadow: 0 1px 0 #000;
}
