.heroContainer {
  width: 92%;
  margin: 0 auto;
  margin-top: 10vh;
}

.title {
  font-family: "Termina";
  font-weight: 900;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.82px #000;
}

.titleTop {
  font-size: calc(100vw / 6);
  margin-bottom: -25%;
  line-height: 0.8;
}

.titleBottom {
  font-size: calc(100vw / 4);
  margin-top: -25%;
  line-height: 1;
}

.subtitle {
  font-size: calc(100vw / 30);
  font-weight: bold;
  text-align: center;
  margin-top: -5%;
}

.topAnimation {
  width: 100%;
  height: calc(40000vw / 360);
  border: 1.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  margin-top: 2rem;
}

.topAnimation > div {
  height: auto;
  width: 150%;
  position: absolute;
  top: -16.5%;
  left: -27.5%;
}

.copy {
  text-align: center;
  width: 100%;
  height: auto;
}

.copy__main{
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.2px #000;
  font-size: calc(100vw / 10.7);
  margin: 2rem 0 1rem 0;
}

.copy__sub {
  color: #000;
  font-weight: bold;
  font-size: 0.83rem;
}

.aboutContainer, .membersContainer, .episodesContainer, .linksContainer {
  width: 92%;
  margin: 3rem auto 0 auto;
}

.aboutContainer p {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
}

.membersTitle, .episodesTitle, .linksTitle {
  width: 100%;
  text-align: center;
}

.membersTitle__main {
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.5px #000;
  font-size: calc(100vw / 6.6);
  margin: 2rem 0 0 0;
}

.membersTitle__sub, .episodesTitle__sub, .linksTitle__sub {
  font-family: "Noto Sans JP";
  color: #000;
  font-weight: bold;
  font-size: 0.83rem;
}

.yukiue, .sugioka {
  display: flex;
  align-items: flex-start;
  gap: 3vw;
  margin-bottom: 2rem;
}

.yukiue__flexleft, .sugioka__flexright {
  width: 100%;
  height: clac(218% / 174);
  overflow: hidden;
  border: 1px solid #000;
  border-radius: 5px;
  align-self: center;
}


.yukiueTitle {
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.65px 1.31px #000;
  -webkit-text-stroke: 1px #000;
  font-size: calc(50vw / 5);
  margin-top: 0;
  margin-bottom: 0;
}

.yukiueSubtitle, .sugiokaSubtitle {
  text-align: center;
  font-size: 0.83rem;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .5rem;
}

.sugiokaTitle {
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.65px 1.31px #000;
  -webkit-text-stroke: 1px #000;
  font-size: calc(50vw / 6);
  margin-top: 0;
  margin-bottom: 0;
}

.yukiueText, .sugiokaText{
  font-size: 0.825rem;
  font-weight: bold;
  line-height: 1.5;
}

.sugiokaText {
  text-align: right;
}

.episodesTitle__main{
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.5px #000;
  font-size: calc(100vw / 6.6);
  margin: 2rem 0 0 0;
}

.linksTitle__main__top{
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.5px #000;
  font-size: calc(100vw / 5.2);
  margin: 2rem 0 -20% 0;
  line-height: 0.8;
}

.linksTitle__main__bottom{
  font-family: "Termina";
  font-weight: 900;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.5px #000;
  font-size: calc(100vw / 6.6);
  margin-top: -35%;
  line-height: 0.9;
}