.heroContainer {
  width: 92%;
  margin: 0 auto;
}

.title {
  font-family: "Termina";
  font-weight: 900;
  width: 100%;
  height: auto;
  text-align: center;
  color: #FFF;
  text-shadow: 0.91px 1.82px #000;
  -webkit-text-stroke: 1.82px #000;
}

.titleTop {
  font-size: calc(100vw / 6);
  margin-bottom: -25%;
  line-height: 0.8;
}

.titleBottom {
  font-size: calc(100vw / 4);
  margin-top: -25%;
  line-height: 1;
}

.subtitle {
  font-size: calc(100vw / 30);
  font-weight: bold;
  text-align: center;
  margin-top: -5%;
}

.topAnimation {
  width: 100%;
  height: calc(40000vw / 360);
  border: 1.5px solid #000;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}